@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');



body{


    background-color: #171617;
    
    font-family: Arial, Helvetica, sans-serif;
    
    
    
}

a{
    color:white;
    text-decoration: none;
    
}


ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 8px 20px 16px 120px;
    
    
    

}

header img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid #be9d42;
}

div.imagem{
    text-align: center;
    margin-right: 70px;
    
}

h1{
   color: #be9d42;
   margin-left: 40px;
   font-weight: bold;
}

h2,h3,p{
    margin-left: 40px;
    
}

p{
    text-align: left;
   
}



h2,h3{
    font-weight: bold;
}


nav a{
    margin: 2px 1px 0px 15px;
    transition-duration: 0.6s;
    font-family: 'Tilt Neon', sans-serif;
}
 nav a:hover{
    text-decoration: underline;
    
    color: #be9d42;
    font-weight: bold;
 }





